.projects#show
  img
    width: 100%
  .content
    +span-columns(12)
    +media($medium)
      +span-columns(5 of 12)
  .image
    +span-columns(12)
    +shift(0)
    +media($medium)
      +span-columns(6 of 12)
      +shift(1)
    img
      cursor: pointer
      margin-bottom: $space-3
    .image-group img
      +span-columns(3 of 6)