%section.introduction
  .section-inner
    .copy
      %h1.title=t('basic.name')
      %p
        =t('basic.short_bio.intro')
        %a.intro.blink{:href => "javascript:;"}
          %span ...

      %p.about
        =t('basic.short_bio.bio_1').html_safe
        %a.about.blink{:href => "javascript:;"}
          %span ..


      %p.skills
        = t("basic.short_bio.bio_2", :href => link_to(t("basic.short_bio.cargo_collective_href"), 'http://cargocollective.com/laurenceberry', :target => 'blank')).html_safe
        %a.skills.blink{:href => "javascript:;"}
          %span .

      %p.history
        = t("basic.short_bio.bio_3", :href => link_to(t("basic.short_bio.futuregov_href"), 'http://www.wearefuturegov.com/', :target => 'blank')).html_safe

    .illustration
