%section.introduction

%section
  .section-inner
    .content
      %p
        Designer at the
        =link_to "UK Government Digital Service", "http://www.gov.uk"
        helping to build simpler, clearer, faster services.
      %p
        I think a lot about accessibility and research led design and development. It's important to really understand user's needs to develop useful prototypes and digital services.

    .image
      = image_tag "Laurence-Berry.jpg", :onclick => "showImage('/assets/Laurence-Berry.jpg')"
