%section.introduction

%section
  .section-inner
    .content
      =t('basic.long_bio.about', :href => link_to(t("basic.long_bio.gds_href"), 'http://www.gov.uk/')).html_safe
    .image
      = image_tag "Laurence-Berry.jpg", :onclick => "showImage('/assets/Laurence-Berry.jpg')"
