%section.introduction
  .section-inner
    %h1.title=t('basic.name')
    %h2=t('basic.short_bio')

%section.products
  .section-inner
    -@products.each do |project|
      %a{href: project_path(project)}
        .project
          .image
          .text
            %h3=project.title
            %p=truncate(project.background, length: 140)
            %p.secondary=project.project_description
            %p.secondary=project.project_url

%section.prototypes
  .section-inner
    -@prototypes.each do |project|
      %a{href: project_path(project)}
        .project
          .image
          .text
            %h3=project.title
            %p=truncate(project.background, length: 140)

%section.projects
  .section-inner
    -@projects.each do |project|
      %a{href: project_path(project)}
        .project
          .image
          .text
            %h3=project.title
            %p=truncate(project.background, length: 140)
