= render partial: 'pages/introduction', locals: {type: "index"}
%section.projects
  %h2.visuallyhidden Portfolio
  .section-inner
    = render :partial => 'project', :collection => @projects
%section.scrapbooks
  %h2.desktophidden Scrapbook
  .section-inner
    = render :partial => 'project', :collection => @scrapbooks
    =link_to "See more from the scrapbook", "/scrapbook"
/ %section.blogs
/   %h2.visuallyhidden Weeknotes
/   .section-inner
/     = render :partial => 'project', :collection => @blogs
/     =link_to "Read more weeknotes", "/weeknotes"
