= render 'pages/introduction'

%section.products
  .section-inner
    = render :partial => 'project', :collection => @products
    = render :partial => 'project', :collection => @prototypes
    = render :partial => 'project', :collection => @projects
