%section
  .section-inner
    %h1=@project.title
    =@project.intro
- @project.blocks.each do |block|
  %section
    .section-inner
      %h2=block.title
      .content
        =markdown(block.text_block)
      - if block.image_primary.exists?
        .image
          = image_tag block.image_primary.url(:medium)
          - if block.image_tertiary.exists?
            .image-group
              = image_tag block.image_secondary.url(:medium)
              = image_tag block.image_tertiary.url(:medium)