header, footer
  display: inline-block
  width: 100%
  font-size: 16px
  // background-color: $background
  padding-bottom: $space-2
  margin-bottom: -6px
  ul
    +span-columns(12 of 12)
    padding: 0
    margin: 0 0 $space-3 0
    +media($small)
      margin: 0 0 $space-2 0
    +media($medium)
      +span-columns(3 of 12)
  ul.navigation
    margin-left: 0
    +media($medium)
      +shift(3)
  li
    list-style: none
    margin-bottom: $space-2
    +media($small)
      margin-bottom: $space-1
header .navigation, header .contact
  display: none
  +media($medium)
    display: inline-block
footer
  margin-top: $space-5
