section
  width: 100%
  display: inline-block
  +span-columns(12)
  .section-inner
    max-width: 1000px
    margin: auto
    padding: 25px 25px
  a
    text-decoration: none
    +span-columns(12 of 12)
    margin-bottom: 25px
    +media($medium)
      +omega(2n)
      +span-columns(6 of 12)
    +media($large)
      @include omega-reset(2n)
      +omega(3n)
      +span-columns(4 of 12)
  .project
    padding: 15px
    color: #000
    text-decoration: none
    border: 1px solid #000
    p
      width: 70%
    &:hover h3
      text-decoration: underline
