header
  .contact-form
    display: none
    width: 100%
    position: absolute
    top: 50px
    right: 0
    color: #fff
    z-index: 10
    +media($small)
      width: 250px
    input, textarea
      width: 100%
    textarea
      min-height: 100px
    span.error
      display: none
