%ul.name
  %li
    %a{:href => root_path}
      =t('basic.name')
%ul.navigation
  %li=link_to "Scrapbook", "http://www.twitter.com/laurence_berry"
  %li=link_to "Weeknotes", "http://www.twitter.com/laurence_berry"
%ul.contact 
  %li=link_to "twitter.com/laurenceberry", "http://www.twitter.com/laurence_berry"
  %li=link_to "github.com/laurenceberry", "http://www.github.com/laurenceberry" 
  %li=mail_to "berry.laur@gmail.com", "berry.laur@gmail.com"

