.name
  %a{:href => root_path}
    =t('basic.name')
%ul.details
  %li
    %span Email
    =mail_to "berry.laur@gmail.com", "berry.laur@gmail.com" 
  %li
    %span Twitter
    =link_to "twitter.com/laurence_berry", "http://www.twitter.com/laurence_berry"
  %li
    %span Github
    =link_to "www.github.com/laurenceberry", "http://www.github.com/laurenceberry" 
