%footer
  .section-inner
    %ul
      %li=link_to t('contact.twitter'), "http://www.twitter.com/laurence_berry"
      %li=link_to t('contact.github'), "http://www.github.com/laurenceberry" 
      %li=mail_to t('contact.email'), "berry.laur@gmail.com" 
