%header
  .header-inner
    .nav.animated.bounceIn
      %a{:href => root_path}
        .icon-long-arrow-left

    .name.animated.bounceIn
      %a{:href => root_path}
        =t('basic.name')

    .links
      -if t('lang') == 'English'
        = link_to t('lang'), change_locale_path(:en), :class => 'lang-en'
      -else
        = link_to t('lang'), change_locale_path(:ja), :class => 'lang-ja'

      =link_to t('contact.message'), "javascript:;", :class => 'message'
      =link_to t('contact.twitter'), "http://www.twitter.com/laurence_berry"
      =link_to t('contact.github'), "http://www.github.com/laurenceberry"
      .clear
      =render :template => 'contacts/header_new'
