= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
= javascript_include_tag 'application', 'data-turbolinks-track' => true
= favicon_link_tag "favicon.ico"

%link{:href => "https://fonts.googleapis.com/css?family=Libre+Baskerville", :rel => "stylesheet"}/

%meta{:content => "Laurence Berry", :property => "og:title"}
%meta{:content => "http://www.laurenceberry.com/", :property => "og:url"}
%meta{:content => "http://s3.amazonaws.com/laurenceberry/blocks/image_secondaries/000/000/022/medium/hello_bor_1_2.png?1455332054", :property => "og:image"}
%meta{:content => "Digital product designer", :property => "og:description"}

%title Laurence Berry

%meta{:content => "Digital product designer", :name => "description"}
%meta{:content => "Front end developer, product designer, Laurence Berry, London designer, Birmingham designer, Government designer, digital designer, Casserole Club, Government Digital Service, GDS", :name => "keywords"}/

%meta{:content => "summary_large_image", :name => "twitter:card"}/
%meta{:content => "@laurence_berry", :name => "twitter:site"}/
%meta{:content => "@laurence_berry", :name => "twitter:creator"}/
%meta{:content => "Laurence Berry - Digital product designer", :name => "twitter:title"}/
%meta{:content => "Digital product designer. Passionate about using design and technology to do good.", :name => "twitter:description"}/
%meta{:content => "http://s3.amazonaws.com/laurenceberry/blocks/image_secondaries/000/000/022/medium/hello_bor_1_2.png?1455332054", :name => "twitter:image"}/


%meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
= csrf_meta_tags