= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
= javascript_include_tag 'application', 'data-turbolinks-track' => true
= favicon_link_tag "favicon.ico"

%meta{:content => "Digital product designer and web developer", :name => "description"}
%meta{:content => "Front end developer, product designer, Laurence Berry, London designer, Birmingham designer, Government designer, digital designer, Casserole Club", :name => "keywords"}/

%meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
= csrf_meta_tags

%link{:href => "https://file.myfontastic.com/Lfvoi3zAfnoF3vzmNJBDBh/icons.css", :rel => "stylesheet"}/
:javascript
  try{Typekit.load({ async: true });}catch(e){}
